<!DOCTYPE html>
<html ng-app="POBoxApp">
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<!--<meta charset='utf-8'>-->
<meta http-equiv="X-UA-Compatible" content="chrome=1">
<meta name="viewport" content="width=device-width">

<title>Practicum Organizer</title>

<link rel="stylesheet" type="text/css" href="static/node_modules/angular-ui-bootstrap/dist/ui-bootstrap-csp.css"> 
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-theme.css') }}">
<style type="text/css">
    .navbar-brand, .nav-link{
        color: white !important;
    }
    .navbar-brand:hover, .navbar-brand:active, .nav-link:hover, .nav-link:active{
        color:#2a9fd6 !important;
    }
    .modal-dialog{
        overflow-y: initial !important
    }
    .reports-modal-body{
        height: 400px;
        overflow-y: auto;
    }
    
</style>
<meta name="viewport" content="width=device-width">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" charset="utf-8"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js" ></script>
<script src="https://code.angularjs.org/1.4.9/angular.min.js" charset="utf-8"></script>
<script src="//code.angularjs.org/1.4.9/angular-sanitize.min.js" data-semver="1.4.9"></script>
<script type="text/javascript" src="static/js/app.js"></script>
<script type="text/javascript" src="static/js/studentFormController.js"></script>
<script type="text/javascript" src="static/js/assignPracticumController.js"></script>
<script type="text/javascript" src="static/js/reportsController.js"></script>
<script type="text/javascript" src="static/js/datadefinitions.js"></script>
<script src="static/node_modules/angular-strap/dist/angular-strap.min.js"></script>
<script src="static/node_modules/angular-strap/dist/angular-strap.tpl.min.js"></script>
<script type="text/javascript" src="static/node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
<script type="text/javascript" src="static/node_modules/angular-ui-bootstrap/dist/ui-bootstrap.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.js"></script>
<script src="static/node_modules/angular-slimscroll/angular-slimScroll.js"></script>
<script src="static/node_modules/angular-dragdrop/src/angular-dragdrop.min.js"></script>



<body>
    {% if session['loggedIn'] %}
    <div ng-controller="ReportsController">
        <div class="alert alert-success alert-dismissible" role="alert" id="archiveSuccess" name="archiveSuccess" style='display:none'>
        </div>
        
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">

                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <ul class="nav navbar-nav">

                        <li class="nav-item col-xs-1">
                            <a class="navbar-brand nav-link" href="/">Home</a>
                        </li>

                        <li class="nav-item  col-xs-1">
                            <a class="navbar-brand nav-link" href="/practica">Assign</a>
                        </li>

                        <li class="nav-item dropdown col-xs-2">
                            <a class="navbar-brand nav-link dropdown-toggle" data-toggle="dropdown" ng-click="prepForReports()">Create Reports
                            <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" data-toggle="modal" data-target="#createReportsModal" ng-click="setReportType('division')">By School Division </a>
                                </li>
                                <li uib-dropdown><a class="dropdown-item" data-toggle="modal" data-target="#createReportsModal" ng-click="setReportType('school')">By Individual School </a>
                                </li>
                                <li uib-dropdown><a class="dropdown-item" data-toggle="modal" data-target="#createReportsModal" ng-click="setReportType('course')">By Course </a>
                                </li>
                                <li uib-dropdown><a class="dropdown-item" ng-click="createReport('transportation', 'none')">Transportation</a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown col-xs-3">
                            <a class="navbar-brand nav-link" data-toggle="dropdown">Archive Semester Reports
                            <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" ng-click="setConfirmType('fall')">Fall</a>
                                </li>
                                <li><a class="dropdown-item" ng-click="setConfirmType('spring')">Spring</a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item col-xs-3">
                            <a class="navbar-brand nav-link" ng-click="openDownloadsModal()">Download Archived Reports
                            <li><data-toggle="modal" ></a></li>
                        </li>
                    </ul>

                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="nav-link" href="/logout">Log Out</a></li>
                    </ul>
                </div>

            </div>
        </nav>

        <div id="createReportsModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" ng-if="reportType === 'division'">By School Division</h4>
                        <h4 class="modal-title" ng-if="reportType === 'school'">By Individual School</h4>
                        <h4 class="modal-title" ng-if="reportType === 'course'">By Course</h4>
                    </div>
                    <div class="modal-body reports-modal-body">
                        <div class="col-xs-6 col-xs-offset-3">
                            <ul class="list-group" ng-if="reportType === 'division'">
                                <div class="list-group-item btn" ng-class="{active : selected === 'none'}" ng-click="createReport('division', 'none')">
                                    <span>All</span>
                                </div>
                                <div class="list-group-item btn" ng-repeat="div in schoolDivisions | orderBy:div" ng-class="{active : selected === div}" ng-click="createReport('division', div)">
                                    <span ng-bind="div"></span>
                                </div>
                            </ul>
                            <ul class="list-group" ng-if="reportType === 'school'">
                                <div class="list-group-item btn" ng-class="{active : selected === 'none'}" ng-click="createReport('school', 'none')">
                                    <span>All</span>
                                </div>
                                <div class="list-group-item btn" ng-repeat="sch in schools | orderBy:sch | filter: filterTravel" ng-class="{active : selected === sch}" ng-click="createReport('school', sch)">
                                    <span ng-bind="sch"></span>
                                </div>
                            </ul>
                            <ul class="list-group" ng-if="reportType === 'course'">
                                <div class="list-group-item btn" ng-class="{active : selected === 'none'}" ng-click="createReport('course', 'none')">
                                    <span>All</span>
                                </div>
                                <div class="list-group-item btn" ng-repeat="prac in practicumBearingClasses | orderBy:prac" ng-class="{active : selected === prac}" ng-click="createReport('course', prac)">
                                    <span ng-bind="prac"></span>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div id="downloadArchivesModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h2 class="modal-title text-center">Which archive would you like to download? </h2>
                    </div>
                    <div class="modal-body">
                        <ul class="list-group">
                            <div class="list-group-item btn" ng-repeat="item in downloads" ng-click="downloadArchive(item)">
                                <span ng-bind="item"></span>
                            </div>
                        </ul>
                        <input type="button" class="btn btn-warning" value="cancel" data-dismiss="modal">
                    </div>
                </div>
            </div>
        </div>
    
    
    <div id="confirmSpringArchiveModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title text-center">Archive Spring Semester? </h2>
              </div>
              <div class="modal-body">
                <p>WARNING! You will lose all data from this semester by archiving this report.</p>
                <p>Are you sure want want to proceed?</p>
                <input type="button" class="btn btn-danger" value="Cancel" data-dismiss="modal">
                <input type="button" class="btn btn-warning" data-dismiss="modal" style="float:right;" value="Archive " ng-click="archSem('spring')">
               </div>
            </div>
        </div>
    </div>
    
    <div id="confirmFallArchiveModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title text-center">Archive Fall Semester? </h2>
              </div>
              <div class="modal-body">
                <p>WARNING! You will lose all data from this semester by archiving this report.</p>
                <p>Are you sure want want to proceed?</p>
                <input type="button" class="btn btn-danger" value="Cancel" data-dismiss="modal">
                <input type="button" class="btn btn-warning" style="float:right;" data-dismiss="modal" value="Archive" ng-click="archSem('fall')">
               </div>
            </div>
        </div>
    </div>
    </div>
    
    {% endif %}
    
    {% block content %} 
    {% endblock %}

</body>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</html>
