{% extends "layout.html" %}

{% block content %}
<style type="text/css">
    .btn-default{
        text-shadow: none;
    }
    .error{
        color: red;
        white-space: pre;
    }
    .list-group-item{
        border: 1px solid #ebebeb;
        background-color: gray;
        color: white !important;
    }
    .nav-pills li{
        background-color:gray;
    }
    .right-border{
        border-right: 3px solid white;
    }
    
    .popover-content{
        height: 200px;
        overflow-y: scroll;
    }
    .popover-heading{
        font-size: 1.25em;
    }
    .well{
        background-color: gray;
    }
    .panel-heading{
        color: black !important;
    }
    
    body{
        color: white;
    }
    
    hr{
        border-top: 1px solid white;
    }
    
    .form-control{
        color:black;
    }
    
    .btn-draggable { 
        width: 110px;
        height: 40px;
        overflow: hidden;
        margin-left: -5px;
    }
    .ui-droppable {
        height: 50px;
    }
    .assignment-heading{
        border-top: 1px solid white;
        border-bottom: 1px solid white;
    }
    .pills{
        margin-top:2px;
        margin-left:-15px;
    }
    .student-drop{
        margin-left: -15px;
    }
    .teacher-drop{
        margin-left: 10px;
    }
    .practica-table{
        height: 400px;
        overflow-y: scroll;
    }
    .practica{
        background-color: white !important;
        color: black;
        font-size: 1.25em;
    }
    thead{
        font-size: 1.5em !important;
    }
    .show-assigned{
        margin-top:10px;
    }

</style>
<script type="text/javascript" src="static/js/assignPracticumController.js"></script>

<script type="text/ng-template" id="popover.student.tpl.html">
    <div id="teacher{{ '{{teacher.id}}' }}" class="popover" tabindex="-1">
        <div class="arrow"></div>
            <h3 class="popover-title text-center" ng-bind="student.firstName + '  ' + student.lastName" ></h3>
        <div class="popover-content">
            <div class="">
                <table class="table table-responsive text-center">
                    <tbody>
                      <tr>
                        <td ng-bind="student.email"></td>
                      </tr>
                      <tr>
                        <td ng-bind="getTransportationString(student)"></td>
                      </tr>
                      <tr>
                        <td><span class="popover-heading">Enrolled In:</span></td>
                      </tr>
                      <tr class="well" ng-repeat="en in student.enrolledClasses">
                        <td ng-bind="en"></td>
                      </tr>
                      <tr>
                        <td><span class="popover-heading">Endorsements:</span></td>
                      </tr>
                      <tr class="well" ng-repeat="en in student.endorsements">
                        <td ng-bind="en"></td>
                      </tr>
                      <tr>
                        <td><span class="popover-heading">Availability:</span></td>
                      </tr>
                      <tr class="well" ng-repeat="av in student.availability">
                        <td ng-bind="getAvailabilityString(av)"></td>
                      </tr>
                      <tr>
                        <td><span class="popover-heading">Previous Practica:</span></td>
                      </tr>
                      <tr class="well" ng-repeat="prac in student.previousPractica">
                        <td ng-bind="prac.school + ' - ' + prac.grade + prac.course"></td>
                      </tr>
                      <tr class="well" ng-if="student.previousPractica.length < 1">
                        <td>N/A</td>
                      </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="popover.assignedstudent.tpl.html">
    
     <div class="popover" tabindex="-1">
        <div class="arrow"></div>
            <h3 class="popover-title text-center" ng-bind="item.student.firstName + '  ' + item.student.lastName" ></h3>
        <div class="popover-content">
            <div class="">
                <table class="table table-responsive text-center">
                    <tbody>
                      <tr>
                        <td ng-bind="item.student.email"></td>
                      </tr>
                      <tr>
                        <td ng-bind="getTransportationString(item.student)"></td>
                      </tr>
                      <tr>
                        <td><span class="popover-heading">Enrolled In:</span></td>
                      </tr>
                      <tr class="well" ng-repeat="en in item.student.enrolledClasses">
                        <td ng-bind="en"></td>
                      </tr>
                      <tr>
                        <td><span class="popover-heading">Endorsements:</span></td>
                      </tr>
                      <tr class="well" ng-repeat="en in item.student.endorsements">
                        <td ng-bind="en"></td>
                      </tr>
                      <tr>
                        <td><span class="popover-heading">Availability:</span></td>
                      </tr>
                      <tr class="well" ng-repeat="av in item.student.availability">
                        <td ng-bind="getAvailabilityString(av)"></td>
                      </tr>
                      <tr>
                        <td><span class="popover-heading">Previous Practica:</span></td>
                      </tr>
                      <tr class="well" ng-repeat="prac in item.student.previousPractica">
                        <td ng-bind="prac.school + ' - ' + prac.grade + prac.course"></td>
                      </tr>
                      <tr class="well" ng-if="item.student.previousPractica.length < 1">
                        <td>N/A</td>
                      </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="popover.driver.tpl.html">
     <div class="popover" tabindex="-1">
        <div class="arrow"></div>
            <h3 class="popover-title text-center" ng-bind="item.driver.firstName + '  ' + item.driver.lastName" ></h3>
        <div class="popover-content">
            <div class="">
                <table class="table table-responsive text-center">
                    <tbody>
                      <tr>
                        <td ng-bind="item.driver.email"></td>
                      </tr>
                      <tr>
                        <td ng-bind="getTransportationString(item.driver)"></td>
                      </tr>
                      <tr>
                        <td><span class="popover-heading">Enrolled In:</span></td>
                      </tr>
                      <tr class="well" ng-repeat="en in item.driver.enrolledClasses">
                        <td ng-bind="en"></td>
                      </tr>
                      <tr>
                        <td><span class="popover-heading">Endorsements:</span></td>
                      </tr>
                      <tr class="well" ng-repeat="en in item.driver.endorsements">
                        <td ng-bind="en"></td>
                      </tr>
                      <tr>
                        <td><span class="popover-heading">Availability:</span></td>
                      </tr>
                      <tr class="well" ng-repeat="av in item.driver.availability">
                        <td ng-bind="getAvailabilityString(av)"></td>
                      </tr>
                      <tr>
                        <td><span class="popover-heading">Previous Practica:</span></td>
                      </tr>
                      <tr class="well" ng-repeat="prac in item.driver.previousPractica">
                        <td ng-bind="prac.school + ' - ' + prac.grade + prac.course"></td>
                      </tr>
                      <tr class="well" ng-if="item.driver.previousPractica.length < 1">
                        <td>N/A</td>
                      </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="popover.rider.tpl.html">
     <div class="popover" tabindex="-1">
        <div class="arrow"></div>
            <h3 class="popover-title text-center" ng-bind="rider.firstName + '  ' + rider.lastName" ></h3>
        <div class="popover-content">
            <div class="">
                <table class="table table-responsive text-center">
                    <tbody>
                      <tr>
                        <td ng-bind="rider.email"></td>
                      </tr>
                      <tr>
                        <td ng-bind="getTransportationString(rider)"></td>
                      </tr>
                      <tr>
                        <td><span class="popover-heading">Enrolled In:</span></td>
                      </tr>
                      <tr class="well" ng-repeat="en in rider.enrolledClasses">
                        <td ng-bind="en"></td>
                      </tr>
                      <tr>
                        <td><span class="popover-heading">Endorsements:</span></td>
                      </tr>
                      <tr class="well" ng-repeat="en in rider.endorsements">
                        <td ng-bind="en"></td>
                      </tr>
                      <tr>
                        <td><span class="popover-heading">Availability:</span></td>
                      </tr>
                      <tr class="well" ng-repeat="av in rider.availability">
                        <td ng-bind="getAvailabilityString(av)"></td>
                      </tr>
                      <tr>
                        <td><span class="popover-heading">Previous Practica:</span></td>
                      </tr>
                      <tr class="well" ng-repeat="prac in rider.previousPractica">
                        <td ng-bind="prac.school + ' - ' + prac.grade + prac.course"></td>
                      </tr>
                      <tr class="well" ng-if="rider.previousPractica.length < 1">
                        <td>N/A</td>
                      </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="popover.teacher.tpl.html">
    <div class="popover" tabindex="-1">
        <div class="arrow"></div>
            <h3 class="popover-title text-center" ng-bind="teacher.firstName + '  ' + teacher.lastName" ></h3>
        <div class="popover-content">
            <div class="">
                <table class="table table-responsive text-center">
                    <tbody>
                      <tr>
                        <td ng-bind="teacher.email"></td>
                      </tr>
                      <tr>
                        <td ng-bind="getHostString(teacher)"></td>
                      </tr>
                      <tr>
                        <td ng-bind="teacher.schoolDivision + ': ' + teacher.school"></td>
                      </tr>
                      <tr  class="well" ng-if="teacher.grade && teacher.grade!='Secondary'">
                        <td ng-bind="'Grade: ' + teacher.grade"></td>
                      </tr>
                      <tr>
                        <td><span class="popover-heading">Schedule:</span></td>
                      </tr>
                      <tr class="well" ng-if="teacher.elementarySchedule.length > 0" ng-repeat="class in teacher.elementarySchedule">
                        <td ng-bind="getScheduleString('elementary', class)"></td>
                      </tr>
                      <tr class="well" ng-if="teacher.secondarySchedule.length > 0" ng-repeat="class in teacher.secondarySchedule">
                        <td ng-bind="getScheduleString('secondary', class)"></td>
                      </tr>
                      <tr class="well" ng-if="teacher.secondarySchedule.length < 1 && teacher.elementarySchedule.length < 1">
                        <td>N/A</td>
                      </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="popover.assignedteacher.tpl.html">
    <div class="popover" tabindex="-1">
        <div class="arrow"></div>
            <h3 class="popover-title text-center" ng-bind="item.teacher.firstName + '  ' + item.teacher.lastName" ></h3>
        <div class="popover-content">
            <div class="">
                <table class="table table-responsive text-center">
                    <tbody>
                      <tr>
                        <td ng-bind="item.teacher.email"></td>
                      </tr>
                      <tr>
                        <td ng-bind="getHostString(item.teacher)"></td>
                      </tr>
                      <tr>
                        <td ng-bind="item.teacher.schoolDivision + ': ' + item.teacher.school"></td>
                      </tr>
                      <tr  class="well" ng-if="item.teacher.grade && teacher.grade!='Secondary'">
                        <td ng-bind="'Grade: ' + item.teacher.grade"></td>
                      </tr>
                      <tr>
                        <td><span class="popover-heading">Schedule:</span></td>
                      </tr>
                      <tr class="well" ng-if="item.teacher.elementarySchedule.length > 0" ng-repeat="class in item.teacher.elementarySchedule">
                        <td ng-bind="getScheduleString('elementary', class)"></td>
                      </tr>
                      <tr class="well" ng-if="item.teacher.secondarySchedule.length > 0" ng-repeat="class in item.teacher.secondarySchedule">
                        <td ng-bind="getScheduleString('secondary', class)"></td>
                      </tr>
                      <tr class="well" ng-if="item.teacher.secondarySchedule.length < 1 && item.teacher.elementarySchedule.length < 1">
                        <td>N/A</td>
                      </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</script>

<div class="container" ng-controller="AssignPracticumController" id="container">
    
    
    <div class="alert alert-warning alert-dismissible" role="alert" id="deleteFail" name="deleteFail" style='display:none'></div>
    
    <!--<div class="alert alert-success alert-dismissible" role="alert" id="submitResult" name="submitResult" style='display:none'></div>-->
    
    
    <div class="row">
        <div class="col-md-6 right-border">
            <h4 class="text-center">Students</h4><br/>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <span>Practicum-Bearing Class:
                        <select class="form-control" id="practicumBearing" name="practicumBearing" ng-model="courseSought" ng-change="changeCourse(courseSought)">
                            <option>N/A</option>
                            <option ng-repeat="item in practicumBearingClasses | orderBy: item">{{ '{{item}}' }}</option>
                        </select></span>
                    </div><br />
                    <div class="form-group">
                        <span>Endorsement:
                        <select class="form-control" id="endorsement" name="endorsement" ng-model="endorsementSought" ng-change="changeEndorsement(endorsementSought)" required>
                            <option ng-repeat="item in endorsements">{{ '{{item}}' }}</option>
                        </select>
                        </span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div slim-scroll height="300px">
                        <ul class="list-group" id="studentList">
                            <div class="list-group-item btn student" id="student{{ '{{$index}}' }}" ng-repeat="student in students track by $index" 
                            ng-class="{active : currentStudent === student, driver : (student.passengers > 0 && !isDriver(student)), rider : (!student.hasCar && !isRider(student))}" ng-model="student" 
                            data-drag="true" data-jqyoui-options="{appendTo: 'body', containment: 'window', scroll: false, helper: 'clone'}" 
                            jqyoui-draggable="{placeholder:'keep', animate:true}" data-template-url="popover.student.tpl.html" 
                            container="body" placement="left" auto-close="true" data-html="true"
                            ng-click="setCurrentStudent(student)" bs-popover>
                                <span ng-bind="student.firstName"></span>&nbsp; 
                                <span ng-bind="student.lastName"></span>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row show-assigned">
                <div class="col-md-12">
                    <!--HERE-->
                    <label><input type="checkbox" id="showassigned" name="showassigned" ng-model="showAssignedStudents" ng-change= "changeStudentAssigned()">&nbsp;Show students that have already been assigned a practicum.</label>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <a class="pull-right btn btn-primary" href="/teacher">Add Teacher</a>
            <h4 class="text-center">Teachers</h4><br/>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <span>School Division:
                        <select class="form-control" id="division" name="division" ng-model="divisionSought" ng-change= "changeDivision(divisionSought)">
                            <option>N/A</option>
                            <option ng-repeat="item in schoolDivisions">{{ '{{item.division}}' }}</option>
                        </select></span>
                    </div>
                    <div class="form-group">
                        <span>School:
                        <select class="form-control" id="school" name="school" ng-model="schoolSought" ng-change="changeSchool(schoolSought)">
                            <option>N/A</option>
                            <option ng-repeat="school in getSchools(divisionSought)">{{ '{{school}}' }}</option>
                        </select></span>
                    </div>
                    <div class="form-group">
                        <span>Grade</span>
                        <select class="form-control" id="grade" name="grade" ng-model="gradeSought" ng-change="changeGrade(gradeSought)">
                            <option>N/A</option>                            
                            <option ng-repeat="g in grades">{{ '{{g.displayName}}' }}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <span>Subject</span>
                        <select class="form-control" id="subject" name="subject" ng-model="subjectSought" ng-change="changeSubject(subjectSought)">
                            <option>N/A</option>
                            <option ng-repeat="s in subjects | orderBy:c">{{ '{{s}}' }}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div slim-scroll height="300px">
                        <ul class="list-group">
                            <div class="list-group-item btn teacher" ng-repeat="teacher in teachers track by $index" 
                            ng-class="{active : currentTeacher === teacher}" ng-model="teacher" 
                            data-drag="true" data-jqyoui-options="{appendTo: 'body', containment: 'window', scroll: false, helper: 'clone'}" 
                            jqyoui-draggable="{placeholder:'keep', animate:true}"
                            ng-click="setCurrentTeacher(teacher)">
                                <button type="button" class="close pull-right" ng-click="deleteTeacher(teachers.indexOf(teacher))">&times;</button>
                                <div data-template-url="popover.teacher.tpl.html" container="body" 
                                placement="left" auto-close="true" data-html="true" bs-popover>
                                    <span ng-bind="teacher.firstName"></span>&nbsp;
                                    <span ng-bind="teacher.lastName"></span>
                                </div>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row show-assigned">
                <div class="col-md-12">
                    <label><input type="checkbox" id="showassigned" name="showassigned" ng-model="showAssignedTeachers" ng-change= "changeTeacherAssigned(showAssignedTeachers)">&nbsp;Show teachers that have already been assigned a practicum student.</label>
                </div>
            </div>
        </div>
    </div>
    <br/> 
    <div class="row assignment-heading">
        <div class="col-md-4 pills">
            <ul class="nav nav-tabs">
                <li ng-class="{active : practicumMode}"><a href="" ng-click="togglePracticumMode()">Practicum</a></li>
                <li ng-class="{active : transportationMode}"><a href="" ng-click="toggleTransportationMode()">Transportation</a></li>
            </ul>
        </div>
        <div class="col-md-offset-5">
            <h4>&nbsp;Assignments</h4>
        </div>
    </div>
    <br/> 
    <div class="row">
        <div class="col-md-12">
            <div class="panel well">
                <div ng-if="practicumMode">
                    <div class="row">
                        <div class="col-md-2 col-md-offset-1 right-border">
                            <h5>Student</h5>
                        </div>
                        <div class="col-md-2 right-border">
                            <h5>Teacher</h5>
                        </div>
                        <div class="col-md-6">
                            <h5>Class, Day, Time</h5>
                        </div>
                        <div class="col-md-1">
                            <div>
                                <button class="btn btn-primary" ng-click="addPracticumAssignment()">&nbsp;+&nbsp;</button>
                            </div>
                        </div>
                    </div>
                    <hr/>
                    <div ng-repeat="item in editingPracticumAssignments">
                        <div class="row">
                             <div class="alert alert-danger" role="alert" id="invalidPractica" ng-if="practicaErrorMsg[editingPracticumAssignments.indexOf(item)].length > 0">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>&nbsp;&nbsp;{{ '{{practicaErrorMsg[editingPracticumAssignments.indexOf(item)]}}' }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="row">
                                    <div class="col-md-2">
                                        <br/>
                                        <button class="btn btn-danger" ng-click="deleteEditingPracticumAssignment(editingPracticumAssignments.indexOf(item))">
                                                <i class="glyphicon glyphicon-trash"></i>
                                        </button>
                                    </div>
                                    <div class="col-md-5 student-drop">
                                        <br/>
                                        <div class="thumbnail" ng-model="item.student"
                                        data-drop="true" data-jqyoui-options="{accept:'.student'}" ng-change="validateStudent(editingPracticumAssignments.indexOf(item),true)" jqyoui-droppable>
                                            <div ng-if="!isEmptyObject(item.student)" class="btn btn-draggable" ng-show="item.student" data-drag="false" data-jqyoui-options="{revert: 'invalid'}" 
                                            ng-model="item.student" jqyoui-draggable="{animate:true}" data-template-url="popover.assignedstudent.tpl.html" 
                                            container="body" placement="top" auto-close="true" data-html="true" bs-popover>
                                                <span ng-bind="item.student.firstName"></span>&nbsp;
                                                <span ng-bind="item.student.lastName"></span>
                                            </div>
                                            <div ng-if="isEmptyObject(item.student)" class="btn btn-draggable" ng-show="item.student" data-drag="false" data-jqyoui-options="{revert: 'invalid'}" 
                                            ng-model="item.student" jqyoui-draggable="{animate:true}">
                                                <span ng-bind="item.student.firstName"></span>&nbsp;
                                                <span ng-bind="item.student.lastName"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5 teacher-drop">
                                        <br/>
                                        <div class="thumbnail" ng-model="item.teacher" 
                                            data-drop="true" data-jqyoui-options="{accept:'.teacher'}"  ng-change="validateTeacher(editingPracticumAssignments.indexOf(item),true)" jqyoui-droppable>
                                            <div ng-if="!isEmptyObject(item.teacher)" class="btn btn-draggable" ng-show="item.teacher" data-drag="false" data-jqyoui-options="{revert: 'invalid'}" 
                                            ng-model="item.teacher" jqyoui-draggable="{animate:true}" data-template-url="popover.assignedteacher.tpl.html" 
                                            container="body" placement="top" auto-close="true" data-html="true"  bs-popover>
                                                <span ng-bind="item.teacher.lastName"></span>
                                            </div>
                                            <div ng-if="isEmptyObject(item.teacher)" class="btn btn-draggable" ng-show="item.teacher" data-drag="false" data-jqyoui-options="{revert: 'invalid'}" 
                                            ng-model="item.teacher" jqyoui-draggable="{animate:true}">
                                                <span ng-bind="item.teacher.lastName"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="row">
                                    <div class="col-md-3">
                                        <span>Class</span>
                                        <select class="form-control" id="course" name="course" ng-model="item.course" ng-change="changeAssignedCourse(item, editingPracticumAssignments.indexOf(item))">
                                            <option></option>
                                            <option ng-repeat="c in item.teacher.elementarySchedule" ng-value="c.course" ng-bind="getScheduleString('elementary', c)" ng-selected="item.course == c.course"></option>
                                            <option ng-repeat="c in item.teacher.secondarySchedule" ng-value="c.course" ng-bind="getScheduleString('secondary', c)" ng-selected="item.course == c.course"></option>
                                            <option>Other</option>
                                        </select>
                                    </div>
                                    <div class="col-md-2">
                                        <span>From</span>
                                        <input type="text" onkeydown="return false" class="form-control" name="start" id="start" ng-model="item.availability.start" data-time-format="h:mm a"  required bs-timepicker 
                                        data-min-time="7:30 am" data-max-time="3:30 pm" size="8" minute-step="5" data-autoclose="1"  ng-change="validateTimes(editingPracticumAssignments.indexOf(item), true)"
                                        bs-tooltip="{'title': 'Please enter a time between 7:30AM and 3:30PM'}">
                                    </div>
                                    <div class="col-md-2">
                                        <span>To</span>
                                        <input type="text" onkeydown="return false" class="form-control" name="end" id="end" ng-model="item.availability.end" data-time-format="h:mm a"  required bs-timepicker  
                                        data-min-time="7:30 am" data-max-time="3:30 pm" size="8" minute-step="5" data-autoclose="1" ng-change="validateTimes(editingPracticumAssignments.indexOf(item), true)" 
                                         bs-tooltip="{'title': 'Please enter a time between 7:30AM and 3:30PM'}">
                                    </div>
                                    <div class="col-md-5">
                                        <div class="row">
                                            <div class="col-md-1">
                                                <span>M</span><br />
                                                <input type="checkbox" value="true" ng-model="item.availability.monday" ng-click="validateDays(editingPracticumAssignments.indexOf(item), true)">  
                                            </div>
                                            <div class="col-md-1">
                                                <span>T</span><br />
                                                <input type="checkbox" value="true" ng-model="item.availability.tuesday" ng-click="validateDays(editingPracticumAssignments.indexOf(item), true)">  
                                            </div>
                                            <div class="col-md-1">
                                                <span>W</span><br />
                                                <input type="checkbox" value="true" ng-model="item.availability.wednesday" ng-click="validateDays(editingPracticumAssignments.indexOf(item), true)">  
                                            </div>
                                            <div class="col-md-1">
                                                <span>Th</span><br />
                                                <input type="checkbox" value="true" ng-model="item.availability.thursday" ng-click="validateDays(editingPracticumAssignments.indexOf(item), true)">  
                                            </div>
                                            <div class="col-md-1">
                                                <span>F</span><br />
                                                <input type="checkbox" value="true" ng-model="item.availability.friday" ng-click="validateDays(editingPracticumAssignments.indexOf(item), true)">  
                                            </div>
                                            <div class="col-md-1">
                                                <br/>
                                                <div>
                                                    <button class="btn btn-success" ng-click="savePracticumAssignment(editingPracticumAssignments.indexOf(item))" ng-disabled="practicaIsInvalid(editingPracticumAssignments.indexOf(item))">
                                                        <i class="glyphicon glyphicon-floppy-disk"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <br/>
                                    <div class="col-md-7" ng-if="item.course==='Other'">
                                        <div class="form-group">
                                            <span>Enter Course Name:</span>
                                            <input type="text" class="form-control" name="other" id="other" ng-model="item.other" ng-blur="validateCourse(editingPracticumAssignments.indexOf(item), true)" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-if="transportationMode">
                    <div class="row">
                        <div class="col-md-3 right-border">
                            <h5 class="text-center">Driver</h5>
                        </div>
                        <div class="col-md-8">
                            <h5 class="text-center">Passengers</h5>
                        </div>
                        <div class="col-md-1">
                            <div>
                                <button class="btn btn-primary" ng-click="addTransportationAssignment()">&nbsp;+&nbsp;</button>
                            </div>
                        </div>
                    </div>
                    <hr/>
                    <div ng-repeat="item in editingTransportationAssignments">
                        <div class="row">
                             <div class="alert alert-danger" role="alert" id="invalidTransportation" ng-if="transportationErrorMsg[editingTransportationAssignments.indexOf(item)].length > 0">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>&nbsp;&nbsp;{{ '{{transportationErrorMsg[editingTransportationAssignments.indexOf(item)]}}' }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-1">
                                <br/>
                                <div>
                                    <button class="btn btn-danger" ng-click="deleteEditingTransportationAssignment(editingTransportationAssignments.indexOf(item))">
                                        <i class="glyphicon glyphicon-trash"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="col-md-2 student-drop">
                                <br/>
                                <div class="thumbnail" ng-model="item.driver"
                                data-drop="true" data-jqyoui-options="{accept:'.driver'}" jqyoui-droppable="{onDrop: 'validateDriver(item, true)'}">
                                    <div ng-if="!isEmptyObject(item.driver)" class="btn btn-draggable" ng-show="item.driver" data-drag="false" data-jqyoui-options="{revert: 'invalid'}" 
                                    ng-model="item.driver" jqyoui-draggable="{animate:true}" data-template-url="popover.driver.tpl.html" 
                                    container="body" placement="top" auto-close="true" data-html="true" bs-popover>
                                        <span ng-bind="item.driver.firstName"></span>&nbsp;
                                        <span ng-bind="item.driver.lastName"></span>
                                    </div>
                                    <div ng-if="isEmptyObject(item.driver)" class="btn btn-draggable" ng-show="item.driver" data-drag="false" data-jqyoui-options="{revert: 'invalid'}" 
                                    ng-model="item.driver" jqyoui-draggable="{animate:true}">
                                        <span ng-bind="item.driver.firstName"></span>&nbsp;
                                        <span ng-bind="item.driver.lastName"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-3" ng-repeat="rider in item.passengers">
                                        <br/>
                                        <div class="thumbnail" ng-model="item.passengers[$index]" 
                                            data-drop="true" data-jqyoui-options="{accept:'.rider'}" jqyoui-droppable="{onDrop: 'validateRiders(item, updateMsg)'}">
                                            <div ng-if="!isEmptyObject(rider)" class="btn btn-draggable" ng-show="rider" data-drag="false" data-jqyoui-options="{revert: 'invalid'}" 
                                            ng-model="rider" jqyoui-draggable="{animate:true}" data-template-url="popover.rider.tpl.html" 
                                            container="body" placement="top" auto-close="true" data-html="true"  bs-popover>
                                                <span ng-bind="rider.firstName"></span>
                                                <span ng-bind="rider.lastName"></span>
                                            </div>
                                            <div ng-if="isEmptyObject(rider)" class="btn btn-draggable" ng-show="rider" data-drag="false" data-jqyoui-options="{revert: 'invalid'}" 
                                            ng-model="item.passengers[$index]" jqyoui-draggable="{animate:true}">
                                                <span ng-bind="rider.firstName"></span>
                                                <span ng-bind="rider.lastName"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <br/>
                                <div>
                                    <button class="btn btn-success" ng-click="saveTransportationAssignment(editingTransportationAssignments.indexOf(item))" ng-disabled="transportationIsInvalid(item)">
                                        <i class="glyphicon glyphicon-floppy-disk"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <div class="row" ng-if="practicumMode">
        <div class="col-md-12 practica-table">
            <table class="table table-bordered">
                <thead class="practica">
                    <th></th>
                    <th>Student</th>
                    <th>Teacher</th>
                    <th>Class</th>
                    <th>Day/Time</th>
                    <th></th>
                </thead>
                <tr class="practica" ng-repeat="item in publishedPracticumAssignments"> 
                    <td>
                        <button class="btn btn-danger" ng-click="deletePublishedPracticumAssignment(publishedPracticumAssignments.indexOf(item))">
                                <i class="glyphicon glyphicon-trash"></i>
                        </button>
                    </td>
                    <td ng-bind="item.student.firstName + ' ' + item.student.lastName"></td>
                    <td ng-bind="item.teacher.firstName + ' ' + item.teacher.lastName"></td>
                    <td ng-bind="getScheduleString(getScheduleLevel(item.teacher,item.course), getScheduleCourse(item.teacher,item.course))"></td>
                    <td ng-bind="getAvailabilityString(item.availability)"></td>
                    <td>
                        <div>
                            <button class="btn btn-primary" ng-click="editPracticum(publishedPracticumAssignments.indexOf(item))">
                                <i class="glyphicon glyphicon-pencil"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row" ng-if="transportationMode">
        <div class="col-md-12 practica-table">
            <table class="table table-bordered">
                <thead class="practica">
                    <th class="col-md-1"></th>
                    <th class="col-md-3">Driver</th>
                    <th class="col-md-7">Passengers</th>
                    <th class="col-md-1"></th>
                </thead>
                <tr class="practica" ng-repeat="item in publishedTransportationAssignments"> 
                    <td class="col-md-1">
                        <div>
                            <button class="btn btn-danger" ng-click="deletePublishedTransportationAssignment(publishedTransportationAssignments.indexOf(item))">
                                <i class="glyphicon glyphicon-trash"></i>
                            </button>
                        </div>
                    </td>
                    <td class="col-md-3" ng-bind="item.driver.firstName + ' ' + item.driver.lastName"></td>
                    <td class="col-md-7">
                        <span ng-repeat="rider in item.passengers">
                            <span ng-bind="rider.firstName + ' ' + rider.lastName"></span>
                            <span ng-if="$index < item.passengers.length - 1">,&nbsp;</span>
                        </span>
                    </td>
                    <td class="col-md-1">
                        <div>
                            <button class="btn btn-primary" ng-click="editTransportation(publishedTransportationAssignments.indexOf(item))">
                                <i class="glyphicon glyphicon-pencil"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    
    
    
    
    
    <div id="deleteModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Confirm Delete</h4>
              </div>
              <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-10 col-xs-offset-1" ng-if="deleteTeach">
                            <br/><br/>
                            <h4 ng-if="deleteTeach">Are you sure you want to delete <span ng-bind="deleteTeach.firstName + ' ' + deleteTeach.lastName"></span>?
                            This action cannot be undone.
                            </h4>
                            <br/><br/><br/><br/><br/><br/>
                        </div>
                        <div class="col-xs-12" ng-if="deletePrac">
                             <h4 class="text-center">Are you sure you want to delete this practicum assignment?</h4>
                             <table class="table table-bordered">
                                <thead class="practica">
                                    <th>Student</th>
                                    <th>Teacher</th>
                                    <th>Class</th>
                                    <th>Day/Time</th>
                                </thead>
                                <tr class="practica"> 
                                    <td ng-bind="deletePrac.student.firstName + ' ' + deletePrac.student.lastName"></td>
                                    <td ng-bind="deletePrac.teacher.firstName + ' ' + deletePrac.teacher.lastName"></td>
                                    <td ng-bind="getScheduleString(getScheduleLevel(deletePrac.teacher, deletePrac.course), getScheduleCourse(deletePrac.teacher, deletePrac.course))"></td>
                                    <td ng-bind="getAvailabilityString(deletePrac.availability)"></td>
                                </tr>
                            </table>
                            <h4 class="text-center">This action cannot be undone.</h4>
                            <br/><br/>
                        </div>
                        <div class="col-xs-12" ng-if="deleteTransport">
                             <h4 class="text-center">Are you sure you want to delete this transportation assignment?</h4>
                             <table class="table table-bordered">
                                <thead class="practica">
                                    <th class="col-md-3">Driver</th>
                                    <th class="col-md-7">Passengers</th>
                                </thead>
                                <tr class="practica"> 
                                    <td class="col-md-3" ng-bind="deleteTransport.driver.firstName + ' ' + deleteTransport.driver.lastName"></td>
                                    <td class="col-md-7">
                                        <span ng-repeat="rider in deleteTransport.passengers">
                                            <span ng-bind="rider.firstName + ' ' + rider.lastName"></span>
                                            <span ng-if="$index < deleteTransport.passengers.length - 1">,&nbsp;</span>
                                        </span>
                                    </td>
                                </tr>
                            </table>
                            <h4 class="text-center">This action cannot be undone.</h4>
                            <br/><br/>
                        </div>
                        
                        <div class="col-xs-2 col-xs-offset-2">
                            <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="delete()">Delete</button>
                        </div>
                        <div class="col-xs-2 col-xs-offset-4">
                            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancelDelete()">Cancel</button>
                        </div>
                    </div>
              </div>
            </div>
        </div>
    </div>
</div>






{% endblock %}
