{% extends "layout.html" %}

{% block content %}
<style type="text/css">
    .btn-default{
        text-shadow: none;
        background-color: gray;
    }
    .error{
        color: red;
        white-space: pre;
    }
    body{
        color: white;
    }
    .tooltip, .tooltip-inner{
        background-color:gray;
        color: white;
    }
    
    .form-control{
        color:black;
    }

</style>
<script type="text/javascript" src="static/js/teacherFormController.js"></script>


<div class="container" id="container" ng-controller="TeacherFormController">
    <br id="top" />
    
    <div class="alert alert-success alert-dismissible" role="alert" id="submitResult" name="submitResult" style='display:none'></div>

<!--<div class="alert alert-warning alert-dismissible" role="alert" id="submitFail" ng-hide="!submissionFailure">-->
<!--    <button type="button" class="close" data-dismiss="alert">&times;</button>-->
<!--    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>&nbsp;&nbsp;{{ '{{submissionMsg}}' }}-->
<!--</div>-->
    
    <div class="row">
        <a class="pull-left btn btn-primary" href="/">Back to Home Page</a>
        <div class="col-md-9">
            <h3 class="text-center">Teacher Practicum Form</h3>
        </div>
        <br /><br /><br />
    </div>


    <div class="row">
        <div class="col-md-4 col-md-offset-2">
            <form name="teacherForm">
                <div class="form-group" ng-class="{'has-error': invalidFirstName}">
                    <span>First Name</span><span ng-if="firstName===undefined || invalidFirstName"><small class="error">&nbsp;&nbsp;*</small></span>
                    <input type="text" class="form-control" name="firstname" id="firstname" ng-model="firstName" ng-blur="validateFirstName()" required>
                    <span class="error" ng-if="invalidFirstName"><em>Invalid first name</em></span>
                </div>
        </div>
        <div class="col-md-4">
            <div class="form-group" ng-class="{'has-error': invalidLastName}">
                <span>Last Name</span><span ng-if="lastName===undefined || invalidLastName"><small class="error">&nbsp;&nbsp;*</small></span>
                <input type="text" class="form-control" name="lastname" id="lastname" ng-model="lastName" ng-blur="validateLastName()" required>
                <span class="error" ng-if="invalidLastName"><em>Invalid last name</em></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="form-group" ng-class="{'has-error': invalidEmail}">
                <span>School Email</span><span ng-if="email===undefined || invalidEmail"><small class="error">&nbsp;&nbsp;*</small></span>
                <input type="email" class="form-control" name="email" id="email" ng-model="email" ng-blur="validateEmail()" required>
                <span class="error" ng-if="invalidEmail"><em>Invalid email</em></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
                <span class="text-primary"><p><strong>
                    If you travel between multiple schools, please specify the School Division you work for and mark your school as "Other"!
                </strong></p></span>
                
                <span class="text-primary"><p><strong>
                    If your school division or school is not listed, please select "Other" for both fields!
                </strong></p></span>
                
                <div class="row">
                    <div class="col-md-4">
                        <span>School Division</span><span ng-if="schoolDivision===undefined || invalidDivision || schoolDivision===''"><small class="error">&nbsp;&nbsp;*</small></span>
                        <select class="form-control" id="division" name="division" ng-model="schoolDivision" ng-change="changeSchoolDivision(schoolDivision)" required>
                            <option ng-repeat="div in schoolDivisions">{{ '{{div.division}}' }}</option>
                            <span class="error" ng-if="invalidDivision"><em>Invalid Division</em></span>
                        </select>
                    </div>

                    <div class="col-md-4">
                        <span>School</span><span ng-if="school===undefined || invalidSchool || school===''"><small class="error">&nbsp;&nbsp;*</small></span>
                        <select class="form-control" id="school" name="school" ng-model="school" ng-change="changeSchool(school)" required>
                            <option ng-repeat="sch in getSchools() | orderBy:sch | filter: filterTravel">{{ '{{sch}}' }}</option>
                            <option>Other</option>
                            <span class="error" ng-if="invalidSchool"><em>Invalid School</em></span> 
                        </select>
                    </div>
                    <div class="col-md-4" ng-show="isElementary(school,$parent.gradeLevel)">
                        <span>Grade Level/ Subject Taught</span><span ng-show="otherCheck($parent.gradeLevel, invalidGrade)"><small class="error">&nbsp;&nbsp;*</small></span>
                        <select class="form-control" id="gradeLevel" name="gradeLevel" ng-model="$parent.gradeLevel" ng-change="initializeElemClasses($parent.gradeLevel)" required>
                            <option></option><option ng-selected= "grade === $parent.gradeLevel" ng-repeat="grade in elemGradesAndSubjects">{{ '{{grade}}' }}</option>
                            <span class="error" ng-if="invalidGrade"><em>Invalid Grade</em></span>
                        </select>
                    </div>
                    <div class="col-md-4" ng-show="isOther(school)">
                        <span>Do you work at multiple schools?</span><span ng-show="isTravelTeacherUndefined()"><small class="error">&nbsp;&nbsp;*</small></span>
                        <select class="form-control" id="travelTeacher" name="travelTeacher" ng-model="isTravelTeacher" ng-change="print(isTravelTeacher)" required>
                            <option ng-value="true">Yes</option>
                            <option ng-value="false">No</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" ng-show="allOther(school, schoolDivision, isTravelTeacher)">
                        <br/>
                        <div class="form-group" ng-class="{'has-error': invalidSchool}">
                            <span>Enter School Name:</span><span ng-if="otherSchool===undefined || invalidSchool || otherSchool===''"><small class="error">&nbsp;&nbsp;*</small></span>
                            <input type="school" class="form-control" name="otherSchool" id="otherSchool" ng-model="otherSchool" ng-change="print(otherSchool)" ng-blur="validateOtherSchool()" required>
                            <span class="error" ng-if="invalidSchool"><em>Invalid School</em></span>
                        </div>
                        <!--<div class="form-group">-->
                        <!--    <span>Enter School Name:</span>-->
                        <!--    <input type="text" class="form-control" name="otherSchool" id="otherSchool" ng-model="$parent.otherSchool" ng-change="print(otherSchool)" ng-blur="validatePracticum(previousPractica.indexOf(item), true)" required>-->
                        <!--</div>-->
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <br/>
                        <div class="form-group">
                            <span>Which semesters will you host students?</span><span ng-if="semesterHosting===undefined || invalidHosting || semesterHosting===''"><small class="error">&nbsp;&nbsp;*</small></span>
                            <select class="form-control" id="semesterHosting" name="semesterHosting" ng-model="semesterHosting" required>
                                <option>Fall</option>
                                <option>Spring</option>
                                <option>Both</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6" ng-show="isSecondary(school)">
                        <br/>
                        <div class="form-group">
                            <span>Does your school use an A/B or X/Y day schedule?</span><span ng-if="blockSchedule===undefined || invalidSchedule || blockSchedule===''"><small class="error">&nbsp;&nbsp;*</small></span>
                            <select class="form-control" id="blockSchedule" name="blockSchedule" ng-model="blockSchedule" ng-change="initializeSecondaryCourses()" required>
                                <option>Yes</option>
                                <option>No</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div ng-show="isElementary(school) && gradeLevels.length > 0">
        <div class="row" >
            <div class="col-md-2 col-md-offset-5">
                <br />
                <h4 ng-if="elemClasses.length > 0">Class Times<span ng-if="invalidAvailability"><small class="error">&nbsp;&nbsp;*</small></span></h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2" id="elemClasses">
                <div class="form-group" ng-repeat="item in elemClasses">
                    <div class="row">
                        
                        <div class="col-md-1"></div>
                        <div class="col-md-3">
                            <span>Subject</span>
                            <input class="form-control" type="text" name="elemCourse" id="elemCourse" ng-model="item.course" disabled>
                        </div>
                        
                        <div class="col-md-3">
                            <span>From</span>
                            <input type="text" onkeydown="return false" class="form-control" name="start" id="start" ng-model="item.startTime" data-time-format="h:mm a" required bs-timepicker data-min-time="7:30 am" data-max-time="3:30 pm" size="8" minute-step="1" data-autoclose="1"
                                 bs-tooltip="{'title': 'Please enter a time between 7:30AM and 3:30PM'}">
                        </div>
                        <div class="col-md-3">
                            <span>To</span>
                            <input type="text" onkeydown="return false" class="form-control" name="end" id="end" ng-model="item.endTime" data-time-format="h:mm a" required bs-timepicker data-min-time="7:30 am" data-max-time="3:30 pm" size="8" minute-step="1" data-autoclose="1"
                                bs-tooltip="{'title': 'Please enter a time between 7:30AM and 3:30PM'}">
                        </div>
                        <!--<div class="col-md-1">-->
                        <!--    <br />-->
                        <!--    <div ng-if="elemClasses.indexOf(item) > 0">-->
                        <!--        <button class="btn btn-danger" ng-click="deleteElemClass(item)">-</button>-->
                        <!--    </div>-->
                        <!--</div>-->
                    </div>
                </div>
            </div>
        </div>
        
        <div ng-show="!isElectiveTeacher"> 
        <div class="row">
        <div class="col-md-2 col-md-offset-5">
            <br />
            <h4>Specials Days and Times<span ><small class="error">&nbsp;&nbsp;*</small></span></h4>
        </div>
        </div>
        
        <div class="row">
        <div class="col-md-8 col-md-offset-2" id="elemElectives">
            <div class="form-group" ng-repeat="item in elemElectives">
                <div class="row">
                    
                    <div class="col-md-3">
                            <span>Subject</span>
                            <input class="form-control" type="text" name="elemElective" id="elemElective" ng-model="item.course" disabled>
                    </div>
                    
                    <div class="col-md-3">
                        <span>From</span>
                        <input type="text" onkeydown="return false" class="form-control" name="start" id="start" ng-model="item.startTime" data-time-format="h:mm a"  required bs-timepicker 
                        data-min-time="7:30 am" data-max-time="3:30 pm" size="8" minute-step="1" data-autoclose="1" ng-change="validateTimes(availability.indexOf(item), true)" 
                        bs-tooltip="{'title': 'Please enter a time between 7:30AM and 3:30PM'}">
                    </div>
                    
                    <div class="col-md-3">
                        <span>To</span>
                        <input type="text" onkeydown="return false" class="form-control" name="end" id="end" ng-model="item.endTime" data-time-format="h:mm a"  required bs-timepicker  
                        data-min-time="7:30 am" data-max-time="3:30 pm" size="8" minute-step="1" data-autoclose="1" ng-change="validateTimes(availability.indexOf(item), true)"  
                         bs-tooltip="{'title': 'Please enter a time between 7:30AM and 3:30PM'}">
                    </div>
                    
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-1">
                                <span>M</span><br />
                                <input type="checkbox" value="true" ng-model="item.monday" >  
                            </div>
                            <div class="col-md-1">
                                <span>T</span><br />
                                <input type="checkbox" value="true" ng-model="item.tuesday">  
                            </div>
                            <div class="col-md-1">
                                <span>W</span><br />
                                <input type="checkbox" value="true" ng-model="item.wednesday">  
                            </div>
                            <div class="col-md-1">
                                <span>Th</span><br />
                                <input type="checkbox" value="true" ng-model="item.thursday">  
                            </div>
                            <div class="col-md-1">
                                <span>F</span><br />
                                <input type="checkbox" value="true" ng-model="item.friday" >  
                            </div>
                            
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    </div>    
        
        
        
        
        
        <div class="row" >
            <div class="col-md-2 col-md-offset-5">
                <br />
                <h4>Recess Time<span><small class="error">&nbsp;&nbsp;*</small></span></h4>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-8 col-md-offset-2" id="recessTime">
                <div class="form-group">
                    <div class="row">
                        
                        <div class="col-md-1"></div>
                        <!--<div class="col-md-3">-->
                        <!--    <span>Subject</span>-->
                        <!--    <input  class="form-control" type="text" name="elemClass" id="elemClass" ng-model="item.elemClass">-->
                        <!--</div>-->
                        
                        <div class="col-md-3">
                            <span>From</span>
                            <input type="text" onkeydown="return false" class="form-control" name="start" id="start" ng-model="$parent.recess.startTime" data-time-format="h:mm a" required bs-timepicker data-min-time="7:30 am" data-max-time="3:30 pm" size="8" minute-step="1" data-autoclose="1"
                                 bs-tooltip="{'title': 'Please enter a time between 7:30AM and 3:30PM'}">
                        </div>
                        <div class="col-md-3">
                            <span>To</span>
                            <input type="text" onkeydown="return false" class="form-control" name="end" id="end" ng-model="$parent.recess.endTime" data-time-format="h:mm a" required bs-timepicker data-min-time="7:30 am" data-max-time="3:30 pm" size="8" minute-step="1" data-autoclose="1"
                                bs-tooltip="{'title': 'Please enter a time between 7:30AM and 3:30PM'}">
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row" >
            <div class="col-md-2 col-md-offset-5">
                <br />
                <h4>Lunch Break<span><small class="error">&nbsp;&nbsp;*</small></span></h4>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-8 col-md-offset-2" id="lunchBreak">
                <div class="form-group">
                    <div class="row">
                        
                        <div class="col-md-1"></div>
                        <!--<div class="col-md-3">-->
                        <!--    <span>Subject</span>-->
                        <!--    <input  class="form-control" type="text" name="elemClass" id="elemClass" ng-model="item.elemClass">-->
                        <!--</div>-->
                        
                        <div class="col-md-3">
                            <span>From</span>
                            <input type="text" onkeydown="return false" class="form-control" name="start" id="start" ng-model="lunchBreak.startTime" data-time-format="h:mm a" required bs-timepicker data-min-time="7:30 am" data-max-time="3:30 pm" size="8" minute-step="1" data-autoclose="1"
                                 bs-tooltip="{'title': 'Please enter a time between 7:30AM and 3:30PM'}">
                        </div>
                        <div class="col-md-3">
                            <span>To</span>
                            <input type="text" onkeydown="return false" class="form-control" name="end" id="end" ng-model="lunchBreak.endTime" data-time-format="h:mm a" required bs-timepicker data-min-time="7:30 am" data-max-time="3:30 pm" size="8" minute-step="1" data-autoclose="1"
                                bs-tooltip="{'title': 'Please enter a time between 7:30AM and 3:30PM'}">
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    
    
    <!---->
    <!---->
    <!---->
    <!---->
    <!---->
    <!---->
    
    
    <div ng-show="isSecondary(school) && blockSchedule.length > 0">
        <div class="row" >
            <div class="col-md-2 col-md-offset-5" ng-show="secondaryClasses.length > 0">
                <br />
                <h4 ng-if="secondaryClasses.length > 0">Class Times<span ng-if="invalidAvailability"><small class="error">&nbsp;&nbsp;*</small></span></h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2" id="secondaryClasses">
                <div class="form-group" ng-repeat="item in secondaryClasses">
                    <div class="row">
                        
                        <div class="col-md-2" ng-show="numCourses==8">
                            <span>Day Type</span>
                            <input class="form-control" type="text" name="dayType" id="dayType" ng-model="item.dayType" disabled>
                        </div>
                        <div class="col-md-1">
                            <span>Block</span>
                            <input class="form-control" type="text" name="block" id="block" ng-model="item.block" disabled>
                        </div>
                        
                        <div class="col-md-3">
                            <span>Subject</span><span ng-if="item.course===undefined || item.course ===''"><small class="error">&nbsp;&nbsp;*</small></span>
                            <select class="form-control" id="course" name="course" ng-model="item.course" >
                                <option ng-repeat="c in courses | orderBy:c">{{ '{{c}}' }}</option>
                                <option>Other</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <span>From</span>
                            <input type="text" onkeydown="return false" class="form-control" name="start" id="start" ng-model="item.startTime" data-time-format="h:mm a" required bs-timepicker data-min-time="7:30 am" data-max-time="3:30 pm" size="8" minute-step="1" data-autoclose="1"
                                 bs-tooltip="{'title': 'Please enter a time between 7:30AM and 3:30PM'}">
                        </div>
                        <div class="col-md-3">
                            <span>To</span>
                            <input type="text" onkeydown="return false" class="form-control" name="end" id="end" ng-model="item.endTime" data-time-format="h:mm a" required bs-timepicker data-min-time="7:30 am" data-max-time="3:30 pm" size="8" minute-step="1" data-autoclose="1"
                                bs-tooltip="{'title': 'Please enter a time between 7:30AM and 3:30PM'}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
        
        
        
        <div class="row" >
            <div class="col-md-2 col-md-offset-5">
                <br />
                <h4>Planning Period<span><small class="error">&nbsp;&nbsp;*</small></span></h4>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-8 col-md-offset-2" id="recessTime">
                <div class="form-group">
                    <div class="form-group" ng-repeat="item in secondaryPlanning">
                    <div class="row">
                        
                        <div class="col-md-2" ng-show="numCourses==8">
                            <span>Day Type</span>
                            <input class="form-control" type="text" name="dayType" id="dayType" ng-model="item.dayType" disabled>
                        </div>
                        <div class="col-md-3">
                            <span>From</span>
                            <input type="text" onkeydown="return false" class="form-control" name="start" id="start" ng-model="item.startTime" data-time-format="h:mm a" required bs-timepicker data-min-time="7:30 am" data-max-time="3:30 pm" size="8" minute-step="1" data-autoclose="1"
                                 bs-tooltip="{'title': 'Please enter a time between 7:30AM and 3:30PM'}">
                        </div>
                        <div class="col-md-3">
                            <span>To</span>
                            <input type="text" onkeydown="return false" class="form-control" name="end" id="end" ng-model="item.endTime" data-time-format="h:mm a" required bs-timepicker data-min-time="7:30 am" data-max-time="3:30 pm" size="8" minute-step="1" data-autoclose="1"
                                bs-tooltip="{'title': 'Please enter a time between 7:30AM and 3:30PM'}">
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row" >
            <div class="col-md-2 col-md-offset-5">
                <br />
                <h4>Lunch Break<span><small class="error">&nbsp;&nbsp;*</small></span></h4>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-8 col-md-offset-2" id="lunchBreak">
                <div class="form-group">
                    <div class="form-group" ng-repeat="item in secondaryLunch">
                    <div class="row">
                        
                        <div class="col-md-2" ng-show="numCourses==8">
                            <span>Day Type</span>
                            <input class="form-control" type="text" name="dayType" id="dayType" ng-model="item.dayType" disabled>
                        </div>
                        <div class="col-md-3">
                            <span>From</span>
                            <input type="text" onkeydown="return false" class="form-control" name="start" id="start" ng-model="item.startTime" data-time-format="h:mm a" required bs-timepicker data-min-time="7:30 am" data-max-time="3:30 pm" size="8" minute-step="1" data-autoclose="1"
                                 bs-tooltip="{'title': 'Please enter a time between 7:30AM and 3:30PM'}">
                        </div>
                        <div class="col-md-3">
                            <span>To</span>
                            <input type="text" onkeydown="return false" class="form-control" name="end" id="end" ng-model="item.endTime" data-time-format="h:mm a" required bs-timepicker data-min-time="7:30 am" data-max-time="3:30 pm" size="8" minute-step="1" data-autoclose="1"
                                bs-tooltip="{'title': 'Please enter a time between 7:30AM and 3:30PM'}">
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        
        
        
        
        
        
        
    </div>
                    <!--<div class="col-md-3" >-->
                    <!--    <div class="row">-->
                            <!--<div class="col-md-10" ng-show="isSecondary(school)">-->
                            <!--    <span>Day Type</span>-->
                            <!--    <select class="form-control" id="division" name="division" ng-model="dayType" required>-->
                            <!--        <option>N/A</option>-->
                            <!--        <option>A Day</option>-->
                            <!--        <option>B Day</option>-->
                            <!--    </select>-->
                            <!--</div>-->
                            
                            <!--<div class="col-md-10" ng-show="isElementary(school)">-->
                            <!--    <span>Subject</span>-->
                            <!--    <select class="form-control" id="elemClass" name="elemClass" ng-model="elemClass" required>-->
                            <!--        <option ng-repeat="class in getElemClasses() | orderBy:class">{{ '{{class}}' }}</option>-->
                            <!--    </select>-->
                            <!--</div>-->
                            

                            
                    <!--    </div>-->
                    <!--</div>-->
                    
                    

                    <!--<div class="col-md-7" ng-class="{'col-md-offset-2' : availability.length === 3 || availability.indexOf(item)!=availability.length-1, 'col-md-offset-1' : availability.length < 3 && availability.indexOf(item)===availability.length-1}">-->
                    <!--    <span class="error" ng-bind="availabilityErrorMsg[availability.indexOf(item)]"></span>-->
                    <!--</div>-->
                
                
                <!--<div class="row">-->
                <!--    <div class="col-md-1">-->
                            
                <!--        </div>-->
                <!--    <div class="form-group" ng-repeat="item in previousPractica">-->
                        <!---->
                <!--        <div class="col-md-3" ng-if="item.school && isElementary(item.school)">-->
                <!--            <span>Grade/Subject</span>-->
                <!--            <select class="form-control" id="grade" name="grade" ng-model="item.grade" required ng-change="changeGrade(item)" ng-options="g as g.displayName for g in grades">-->
                <!--            </select>-->
                <!--        </div>-->
                <!--        <div class="col-md-3" ng-if="item.school && isSecondary(item.school)">-->
                <!--            <span>Subject</span>-->
                <!--            <select class="form-control" id="course" name="course" ng-model="item.course" ng-change="changeCourse(item)">-->
                <!--                <option ng-repeat="c in courses | orderBy:c">{{ '{{c}}' }}</option>-->
                <!--                <option>Other</option>-->
                <!--            </select>-->
                <!--        </div>-->
                        
                <!--        <div class="col-md-3" ng-if="item.school && !isElementary(item.school) && !isSecondary(item.school)">-->
                <!--            <span>Grade/Subject</span>-->
                <!--            <select class="form-control" id="grade" name="grade" ng-model="item.course" required ng-change="changeCourse(item)">-->
                <!--                <option ng-repeat="g in grades">{{ '{{g.displayName}}' }}</option>-->
                <!--                <option ng-repeat="c in courses | orderBy:c">{{ '{{c}}' }}</option>-->
                <!--                <option>Other</option>-->
                <!--            </select>-->
                <!--        </div>-->
                <!--        <div class="col-md-3" ng-if="item.course === 'Other' || item.grade === 'Other'">-->
                <!--            <div class="form-group">-->
                <!--                <span>Enter Course Name:</span>-->
                <!--                <input type="text" class="form-control" name="other" id="other" ng-model="item.other" ng-change="print(item)" ng-blur="validatePracticum(previousPractica.indexOf(item), true)" required>-->
                <!--            </div>-->
                <!--        </div>-->
                        <!---->
                <!--    </div>-->
                <!--</div>-->
      
    
    

    <div class="row">
        <div class="col-md-2 col-md-offset-5">
            <div class="form-group">
                <br />
                <input type="button" class="btn btn-primary" value="Submit" ng-click="submit()" ng-disabled="formIsInvalid()">
                <!--<input type="button" class="btn btn-primary" value="Submit" ng-click="submit()" ng-disabled="">-->
            </div>
        </div>
    </div>
    </form>

</div><br />

{% endblock %}
